HELP.md

### Java ###
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

### Build ###
build/
out/
bin/
target/

### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
*.ids
*.orig
*.swp

### Logs ###
logs/
*.log

### System ###
.DS_Store
Thumbs.db